/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

article.nivel-dois{
    /* border: 1px dashed red; */
display: inline-block;
width: 240px;
margin: 20px;
padding: 10px;
background-color: lightcoral;							 
}
ul li ul{
    list-style: none;
}

article.case{
    /* border: 1px dashed red; */
display: inline-block;
width: 240px;
margin: 20px;
padding: 10px;						 
}
/*
ol,
ul[type="circle"]{
    margin-left: 20px
    
}
*/